<h1>Editing borrow</h1>

<% form_for(@borrow) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @borrow %> |
<%= link_to 'Back', borrows_path %>
