<!-- greenrow -->
      <div id="greenrow">
          
          <div class="nav">
              <h2 id="discounts">Discounts On</h2>
              <ul>
                  <li><a href="http://www.soluvas.com">Arts and Crafts</a></li>
                  <li><a href="http://www.soluvas.com">Biography</a></li>
                  <li><a href="http://www.soluvas.com">Books on TV</a></li>
                  <li><a href="http://www.soluvas.com">Business</a></li>
                  <li><a href="http://www.soluvas.com">Children</a></li>
                  <li><a href="http://www.soluvas.com">Computer Books</a></li>
                  <li><a href="http://www.soluvas.com">Cookery</a></li>
                  <li><a href="http://www.soluvas.com">Crime</a></li>
                  <li><a href="http://www.soluvas.com">Dictionaries</a></li>
                  <li><a href="http://www.soluvas.com">Languages</a></li>
              </ul>
          </div><!-- end .nav -->
          
          <div class="col">
              <h2><%= image_tag "title_book_review.gif", :width => "94", :height => "18", :alt => "book review" %></h2>
              <%= image_tag "picture_2.gif", :width => "50", :height => "80", :alt => "Psycho book cover", :html => {:class => "asasleft"} %>
            <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
                <p>To find great hosting providers visit <a href="http://www.webhostingzoom.com">Web Hosting Zoom</a></p>
              <p class="readmore"><a href="http://www.soluvas.com">read more</a></p>
                    
              <div class="divider"></div>
          
              <h2><%= image_tag "title_books_to_come.gif", :width => "101", :height => "14", :alt => "books to come" %></h2>
              <table summary="book list" class="books" cellspacing="4" cellpadding="0">
                  <tr>
                      <td><a href="http://www.soluvas.com">Ghosts of darkness</a></td>
                      <td><a href="http://www.soluvas.com">Fifteen</a></td>
                  </tr>
                  <tr>
                      <td><a href="http://www.soluvas.com">New age</a></td>   
                      <td><a href="http://www.soluvas.com">Quick fox</a></td>
                  </tr>
                  <tr>
                      <td><a href="http://www.soluvas.com">Disgrace</a></td>
                      <td><a href="http://www.soluvas.com">Unveil</a></td>
                  </tr>
              </table>
             <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
          </div>
          
        <div id="bookmonth">
                  <h2><%= image_tag "title_book_of_the_month.gif", :width => "125", :height => "15", :alt => "book of the month" %></h2>
                  <%= image_tag "picture_3.gif", :width => "50", :height => "91", :alt => "dog books", :html => {:class => "left"} %>
                    <p>You can remove any link to our websites from this template you're  free to use the template without linking 
                back to us. Don't want your boss to know you used a free website template ;) .</p>
                
                <p>If you're having problems editing the template please don't hesitate to ask for help on the <a href="http://www.soluvas.com/forum/">forum</a>.</p>
                
                  <p class="readmore"><a href="http://www.soluvas.com">read more</a></p>
              </div><!-- end bookmonth -->
          <div class="clear"></div>
      </div>
	  <!-- end greenrow -->
      