        <div id="footeri">
              <span class="copyright">Powered by <a href="http://www.soluvas.com">Free Website Templates</a></span> 
              <a href="http://www.soluvas.com">bestsellers</a> &nbsp;
              <a href="http://www.soluvas.com">magazines</a> &nbsp;
              <a href="http://www.soluvas.com">e-books</a> &nbsp;
              <a href="http://www.soluvas.com">contact</a> &nbsp;
          </div><!-- end footeri -->